body {
    color: #333;
    background-color: rgb(128, 88, 43);
    text-align: center;
    font-family: 'Arial';
}

.negros {
    width: 1000px;
    height: 300px;
    color: black;

}

#epic-fo{
    font-size: 40px;
}

h1 {
    font-size: 100px;
}