body {
    color: rgb(0, 0, 0)   ;
    background-color: wheat;
    text-align: center;
    font-family: 'Arial';
}

.negros {
    width: 1000px;
    height: 500px;
    color: black;
    font-size: 80px;

}