body {
    color: rgb(15, 107, 76)   ;
    background-color: wheat;
    text-align: center;
    font-family: 'Arial';
}

.negros {
    width: 1000px;
    height: 300px;
    color: black;
    font-size: 80px;
    background-color: greenyellow;
}

#epic-fo{
    font-size: 40px;
}

h1 {
    font-size: 100px;
}